.Gallery{
    display: flex;
}
.Gallery div{
    width: 16.6%;
    height: 250px;
    background-color: #a1a1a1;
}
.Gallery div.Insta{
    height: 123px;
    text-align: center;
    padding-top: 85px;
    border: 1px solid #f66568;
    margin: 20px;
    width: 85%;
    background-color: transparent; 
}
section.Gallery{
    width: 100%;
}
@media (max-width: 650px){
    section.Gallery {
        flex-flow: row;
    }
    .Gallery div.Insta{
        width: 75%;
        margin: 20px 10px;
    }
}